flask==3.1.0
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.3.0
diffusers
transformers
tqdm
scipy
pillow
accelerate
requests
ffmpeg-python
pydub
soundfile
gunicorn
huggingface-hub
streamlit